<link rel="stylesheet" type="text/css" href="http://cdn.gbtags.com/datatables/1.10.5/css/jquery.dataTables.min.css">

<body>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li>开始</li>
        <li>器材查询</li>
        <li class="active">实验室配置</li>
    </ol>


    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <label >选择实验室</label>
            <div class="input-group">
                <select class="form-control"  ng-model="TClass">
                    <option ng-repeat="d in dataClassSearch">{{d}}</option>
                </select>
                <span class="input-group-btn">
                     <button class="btn btn-info pull-right" ng-click="TClassSearch()">查询</button>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-flat"  ng-click="reload()" >刷新</button>
                </span>

            </div>
        </div>
    </div>

    <br/>


    <div class="box">
        <!--<div class="box-header with-border">
            <h3 class="box-title">Bordered Table</h3>
        </div>-->
        <!-- /.box-header -->
        <div class="box-body">
            <table id="dt" class="table table-hover table-responsive" cellspacing="0" width="100%">
                <caption>{{TClass}}</caption>
                <thead>
                <tr class="success">
                    <th>序号</th>
                    <th>器材编号</th>
                    <th>器材名称</th>
                    <th>器材类型</th><!--物品类型（设备为1、消耗品为2）-->
                    <th>器材数量</th>
                    <th>器材归属教室</th><!--物品归属教室（没有归属为0，表示在库房-->
                    <th>器材状态</th><!--物品状态（可使用为1、物品损坏为2）-->
                    <th>器材规格</th>
                    <th>单位</th>
                    <th>用途说明</th>
                    <!-- <th>使用记录</th>-->

                </tr>
                </thead>
                <tbody>
               <!-- <tr ng-repeat="d in dataSearch">
                    <td ng-bind="$index+1">1</td>
                    <td>{{d.TID}}</td>
                    <td>{{d.TName}}</td>
                    <td>{{d.TType==1?"设备":"消耗品"}}</td>
                    <td>{{d.TCount}}</td>
                    <td>{{d.TClass==0?"库房":d.TClass}}</td>
                    <td>{{d.TStatus==1?"可使用":"损坏"}}</td>&lt;!&ndash;物品状态（可使用为1、物品损坏为2）&ndash;&gt;
                    <td>{{d.TSpec}}</td>
                    <td>{{d.TUnit}}</td>
                    <td>{{d.TUse}}</td>

                    &lt;!&ndash; <td>{{d.TRecord}}</td>&ndash;&gt;
                </tr>-->
                </tbody>

            </table>
        </div>

    </div>


</div>
</body>