<div class="container-fluid">
	<ol class="breadcrumb">
		<li>开始</li>
		<li>个人管理</li>
		<li class="active">更改密码</li>
	</ol>
	<div class="center-box">
		<form name="myForm">
			<input type="text" class="form-control" placeholder="输入原密码" name="orgPassword" ng-model="orgPassword"/>
			<input type="text" class="form-control" placeholder="输入新的密码" name="newPassword" ng-model="newPassword"  minlength="6" maxlength="19" />
			<input type="text" class="form-control" placeholder="再次确认输入" name="againNewPassword" ng-model="againNewPassword"  minlength="6" maxlength="19"/>
			<div class="col-md-6">
				<button type="submit" ng-click="passChange()" class="btn btn-primary btn-block" >密码重置</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-block">取消输入</button>
			</div>
		</form>
	</div>
</div>
<style type="text/css">
	.center-box {
		margin: 50px auto;
		padding: 30px;
		max-width: 350px;
		border-color: #3c8dbc;
	}
	input.error{
		border:1px solid red;
	}
</style>