<div class="container-fluid">
	<ol class="breadcrumb">
		<li>开始</li>
		<li>个人管理</li>
		<li class="active">个人信息</li>
	</ol>


	<h2 class="text-center"  style="margin-top: 5%">个人信息</h2>
	<br/>
	<br/>
	<div class="table-responsive col-md-8 col-sm-8 col-xs-8 col-sm-offset-2 col-md-offset-2" >
		<table class="table table-striped">
			<tbody>
			<tr>
				<td class="text-right col-md-4 col-sm-4 col-xs-6">权限：</td>
				<td class="col-md-8 col-sm-8 col-xs-6">{{UPriority==1?"管理员":"用户"}}</td>
			</tr>
			<tr>
				<td class="text-right">用户id：</td>
				<td>{{UID}}</td>
			</tr>
			<tr>
				<td class="text-right">用户姓名：</td>
				<td>{{UName}}</td>
			</tr>
			<tr>
				<td class="text-right">性别：</td>
				<td>{{USex==1?"男":"女"}}</td>
			</tr>
			<tr>
				<td class="text-right">职位：</td>
				<td>{{UPosition}}</td>
			</tr>
			<tr>
				<td class="text-right">证件号：</td>
				<td>{{UIDcard}}</td>
			</tr>
			<tr>
				<td class="text-right">专业系别：</td>
				<td>{{UMajor}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>